@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto px-3
}

body {
  @apply bg-[#000] text-white
}

::-webkit-scrollbar {
  background-color: transparent;
  color: white;
}

::-webkit-scrollbar-thumb {
  color: white;
  background-color: white;
  border-radius: 9999px;
}

.menu-active {
  right: 0;
  /* left: 0; */
  transform: none;
}

.active {
  @apply text-[#FF0000]
}

body {
  @apply font-main
}

/* custom-gutter.css */

/* custom-gutter.css */

/* Default (mobile-first) */
.gutter-x-0>*+* {
  @apply pl-0;
}

.gutter-x-1>*+* {
  @apply pl-1;
}

.gutter-x-2>*+* {
  @apply pl-2;
}

.gutter-x-3>*+* {
  @apply pl-3;
}

.gutter-x-4>*+* {
  @apply pl-4;
}

.gutter-x-5>*+* {
  @apply pl-5;
}

.gutter-x-6>*+* {
  @apply pl-6;
}

/* Medium screens (md) */
@media (min-width: 768px) {
  .md\:gutter-x-0>*+* {
    @apply pl-0;
  }

  .md\:gutter-x-1>*+* {
    @apply pl-1;
  }

  .md\:gutter-x-2>*+* {
    @apply pl-2;
  }

  .md\:gutter-x-3>*+* {
    @apply pl-3;
  }

  .md\:gutter-x-4>*+* {
    @apply pl-4;
  }

  .md\:gutter-x-5>*+* {
    @apply pl-5;
  }

  .md\:gutter-x-6>*+* {
    @apply pl-6;
  }
}

/* Large screens (lg) */
@media (min-width: 1024px) {
  .lg\:gutter-x-0>*+* {
    @apply pl-0;
  }

  .lg\:gutter-x-1>*+* {
    @apply pl-1;
  }

  .lg\:gutter-x-2>*+* {
    @apply pl-2;
  }

  .lg\:gutter-x-3>*+* {
    @apply pl-3;
  }

  .lg\:gutter-x-4>*+* {
    @apply pl-4;
  }

  .lg\:gutter-x-5>*+* {
    @apply pl-5;
  }

  .lg\:gutter-x-6>*+* {
    @apply pl-6;
  }
}

/* Extra large screens (xl) */
@media (min-width: 1280px) {
  .xl\:gutter-x-0>*+* {
    @apply pl-0;
  }

  .xl\:gutter-x-1>*+* {
    @apply pl-1;
  }

  .xl\:gutter-x-2>*+* {
    @apply pl-2;
  }

  .xl\:gutter-x-3>*+* {
    @apply pl-3;
  }

  .xl\:gutter-x-4>*+* {
    @apply pl-4;
  }

  .xl\:gutter-x-5>*+* {
    @apply pl-5;
  }

  .xl\:gutter-x-6>*+* {
    @apply pl-6;
  }
}


/* Default (mobile-first) */
.gutter-y-0>*+* {
  @apply pt-0;
}

.gutter-y-1>*+* {
  @apply pt-1;
}

.gutter-y-2>*+* {
  @apply pt-2;
}

.gutter-y-3>*+* {
  @apply pt-3;
}

.gutter-y-4>*+* {
  @apply pt-4;
}

.gutter-y-5>*+* {
  @apply pt-5;
}

.gutter-y-6>*+* {
  @apply pt-6;
}

/* Medium screens (md) */
@media (min-width: 768px) {
  .md\:gutter-y-0>*+* {
    @apply pt-0;
  }

  .md\:gutter-y-1>*+* {
    @apply pt-1;
  }

  .md\:gutter-y-2>*+* {
    @apply pt-2;
  }

  .md\:gutter-y-3>*+* {
    @apply pt-3;
  }

  .md\:gutter-y-4>*+* {
    @apply pt-4;
  }

  .md\:gutter-y-5>*+* {
    @apply pt-5;
  }

  .md\:gutter-y-6>*+* {
    @apply pt-6;
  }
}

/* Large screens (lg) */
@media (min-width: 1024px) {
  .lg\:gutter-y-0>*+* {
    @apply pt-0;
  }

  .lg\:gutter-y-1>*+* {
    @apply pt-1;
  }

  .lg\:gutter-y-2>*+* {
    @apply pt-2;
  }

  .lg\:gutter-y-3>*+* {
    @apply pt-3;
  }

  .lg\:gutter-y-4>*+* {
    @apply pt-4;
  }

  .lg\:gutter-y-5>*+* {
    @apply pt-5;
  }

  .lg\:gutter-y-6>*+* {
    @apply pt-6;
  }
}

/* Extra large screens (xl) */
@media (min-width: 1280px) {
  .xl\:gutter-y-0>*+* {
    @apply pt-0;
  }

  .xl\:gutter-y-1>*+* {
    @apply pt-1;
  }

  .xl\:gutter-y-2>*+* {
    @apply pt-2;
  }

  .xl\:gutter-y-3>*+* {
    @apply pt-3;
  }

  .xl\:gutter-y-4>*+* {
    @apply pt-4;
  }

  .xl\:gutter-y-5>*+* {
    @apply pt-5;
  }

  .xl\:gutter-y-6>*+* {
    @apply pt-6;
  }
}

.accord {
  background-color: transparent !important;
}

.float {
  animation: float 3s ease-in-out infinite;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 20px;
  background:
    linear-gradient(#fff 50%, #fff0 0),
    linear-gradient(#fff0 50%, #fff 0),
    linear-gradient(#fff 50%, #fff0 0),
    linear-gradient(#fff0 50%, #fff 0),
    linear-gradient(#fff 50%, #fff0 0),
    linear-gradient(#fff0 50%, #fff 0),
    linear-gradient(#fff 50%, #fff0 0),
    linear-gradient(#fff0 50%, #fff 0),
    linear-gradient(#fff 50%, #fff0 0),
    linear-gradient(#fff0 50%, #fff 0) #000;
  background-size: calc(100%/6 + 1px) 200%;
  background-repeat: no-repeat;
  animation: l12 2s infinite;
  border: solid 1px white;
}

@keyframes l12 {
  0% {
    background-position: calc(0*100%/5) 100%, calc(1*100%/5) 0%, calc(2*100%/5) 100%, calc(3*100%/5) 0%, calc(4*100%/5) 100%, calc(5*100%/5) 0%
  }

  16.67% {
    background-position: calc(0*100%/5) 0%, calc(1*100%/5) 0%, calc(2*100%/5) 100%, calc(3*100%/5) 0%, calc(4*100%/5) 100%, calc(5*100%/5) 0%
  }

  33.33% {
    background-position: calc(0*100%/5) 0%, calc(1*100%/5) 100%, calc(2*100%/5) 100%, calc(3*100%/5) 0%, calc(4*100%/5) 100%, calc(5*100%/5) 0%
  }

  50% {
    background-position: calc(0*100%/5) 0%, calc(1*100%/5) 100%, calc(2*100%/5) 0%, calc(3*100%/5) 0%, calc(4*100%/5) 100%, calc(5*100%/5) 0%
  }

  66.67% {
    background-position: calc(0*100%/5) 0%, calc(1*100%/5) 100%, calc(2*100%/5) 0%, calc(3*100%/5) 100%, calc(4*100%/5) 100%, calc(5*100%/5) 0%
  }

  83.33% {
    background-position: calc(0*100%/5) 0%, calc(1*100%/5) 100%, calc(2*100%/5) 0%, calc(3*100%/5) 100%, calc(4*100%/5) 0%, calc(5*100%/5) 0%
  }

  100% {
    background-position: calc(0*100%/5) 0%, calc(1*100%/5) 100%, calc(2*100%/5) 0%, calc(3*100%/5) 100%, calc(4*100%/5) 0%, calc(5*100%/5) 100%
  }
}

.react-tagsinput-tag {
  background-color: #db0c0c;
  border-radius: 2px;
  border: 1px solid #d40707;
  color: #f8f8f8;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.tagInput span{
  display: flex;
  align-items: center;
}
.react-tagsinput-input{
  flex: 1;
}
.pnlm-controls-container{
  top: unset;
  bottom: 20px;
  left: unset;
  right: 50px;
}